@model IEnumerable<AtelieMoonchild.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; @* Escolhe o _layout.cshtml que vai usar *@
}

@section Styles {
    <link href="~/css-migrations-categoria/Index.css" rel="stylesheet" />

    <style>
    </style>
}

<div class="content">

    <h2> Listagem de Categorias </h2>

    <form class="form" asp-controller="Categorias" asp-action="Index" method="get">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <a asp-action="Create" class="btn btn-primary">Adicionar Novo</a>
            </div>
            <input style="border: 2px solid #007bff" type="text" class="form-control"
                   placeholder="Imagem a Pesquisar" name="pesquisa" aria-label="" aria-describedby="basic-addon1" id="forminput" />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
            </div>
        </div>
    </form>


    <div class="container mt-100 table-responsive-md">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        Operações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="bg">
                        <td style="color:black; font-weight:500; font-size:18px;">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-alt td-icones" style="color:#B22222;" data-toggle="tooltip" data-placement="left" title="Deletar"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info td-icones" style="color:#FFD700;" data-toggle="tooltip" data-placement="bottom" title="Detalhes"></i></a>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit td-icones" style="color:black;" data-toggle="tooltip" data-placement="right" title="Editar"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts{



}
